// BreakPoints
$xs: 480px;
$s: 760px;
$m: 980px;
$l: 1200px;
$xl: 1920px;

$founder-wrapper-breakpoint-m: 1053px;

// Titles sizes
$title-h2-size: 2.8rem;
$title-h2-size-m: 2.2rem;
$title-h2-size-s: 2rem;
$title-h2-size-xs: 1.6rem;

$title-h3-size: 1.8rem;
$title-h3-size-s: 1.5rem;
$title-h3-size-xs: 1.4rem;

$title-h4-size: 1.1rem;
$title-h4-size-s: 1rem;
$title-h4-size-xs: .9rem;

// P font sizes
$p-font-size: 1rem;
$p-font-size-m: .9rem;
$p-font-size-s: .8rem;

// Titles font-family
$title-h2-font-family: 'Maven Pro';
$title-h3-font-family: 'Maven Pro';
$title-h4-font-family: 'Roboto';

// Titles weights
$title-h2-weight: 700;

// Scroll
$scroll-margin-top-equality-part: 200px;
$scroll-margin-top-call-to-action: 300px;
$scroll-margin-top-common-values: 100px;
$scroll-margin-top-founders-part: 50px;
$scroll-margin-top-need-to-join: 100px;
$scroll-margin-top-toogether-not-toogether: 120px;
$scroll-margin-top-share-values-details: 300px;

$scroll-margin-top-s-equality-part: 200px;
$scroll-margin-top-s-call-to-action: 300px;
$scroll-margin-top-s-common-values: 100px;
$scroll-margin-top-s-founders-part: 100px;
$scroll-margin-top-s-need-to-join: 100px;
$scroll-margin-top-s-toogether-not-toogether: 120px;
$scroll-margin-top-s-share-values-details: 300px;

$scroll-margin-top-xs-equality-part: 200px;
$scroll-margin-top-xs-call-to-action: 300px;
$scroll-margin-top-xs-common-values: 150px;
$scroll-margin-top-xs-founders-part: 100px;
$scroll-margin-top-xs-need-to-join: 100px;
$scroll-margin-top-xs-toogether-not-toogether: 75px;
$scroll-margin-top-xs-share-values-details: 300px;

// Misc.
$section-max-width: 1200px;

//HEADER
// Header sizes
$header-height : 95px;
$header-height-m: 75px;

// Logo heights
$logo-height: 60px;
$logo-height-m: 40px;

// Background opacity
$bckgd-opacity-s: .4;