/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
h2.title-section {
  font-size: 2.8rem;
  font-family: "Maven Pro";
}

/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
section.services {
  background-color: #FFFFFF;
  padding: 64px 0px 88px;
}
section.services h2 {
  text-align: center;
}
section.services h2 span {
  color: #7457B9;
}
section.services div.list-card {
  padding-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  section.services {
    padding: 44px 24px 64px;
  }
}
@media only screen and (max-width: 980px) {
  section.services {
    padding: 44px 24px 64px;
  }
}
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
section.contact {
  background-color: #7457B9;
  padding: 64px 24px;
}
section.contact h2 {
  color: #FFFFFF;
  text-align: center;
}
section.contact div.actions {
  padding-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  section.contact {
    padding: 44px 24px;
  }
}
@media only screen and (max-width: 760px) {
  section.contact div.actions {
    flex-direction: column-reverse;
  }
}
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
footer.footer {
  background-color: #E6D3A3;
  padding: 64px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
footer.footer h2 {
  color: #FFFFFF;
  text-align: center;
}
footer.footer div.ft-column {
  width: calc(100vw/3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer.footer div.ft-column p {
  color: #696969;
  font-size: 1rem;
  font-family: "Roboto";
  line-height: 1.8rem;
  padding-bottom: 12px;
}
footer.footer div.ft-column a {
  color: #000000;
  line-height: 2.4rem;
  font-size: 1.1rem;
  font-family: "Roboto";
  font-weight: 500;
}
footer.footer div.ft-column .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer.footer div.ft-column .logo p {
  color: #7457B9;
  font-size: 2rem;
  font-family: "Maven Pro";
  font-weight: 700;
  padding-bottom: 0;
  padding-left: 12px;
}
footer.footer div.ft-column .logo svg {
  fill: #7457B9;
  width: 60px;
  height: 60px;
}
footer.footer div.ft-column div.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer.footer div.ft-column div.social-medias svg {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

@media only screen and (max-width: 760px) {
  footer.footer {
    padding: 48px 24px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer.footer div.ft-column {
    width: 100%;
    margin-bottom: 44px;
  }
  footer.footer div.ft-column:last-of-type {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 980px) {
  footer.footer {
    flex-wrap: wrap;
  }
  footer.footer div.ft-column:first-of-type {
    width: 100%;
    margin-bottom: 44px;
  }
  footer.footer div.ft-column {
    width: calc(100%/2);
  }
}
.navbar {
  display: flex;
  flex-wrap: wrap;
}

/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
button.button {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 24px;
  letter-spacing: 0.8px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 8px;
}
button.button.primary {
  background-color: #F7BF33;
}
button.button.secondary {
  background-color: #FFFFFF;
  color: #7457B9;
}

@media only screen and (max-width: 760px) {
  button.button {
    width: 100%;
    margin: 8px 24px;
  }
}
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Fonts     -------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */
.service-card {
  width: 80vw;
  display: flex;
}
.service-card:first-of-type {
  flex-direction: row;
}
.service-card:first-of-type .icon {
  background-color: #7457B9;
}
.service-card:last-of-type {
  flex-direction: row-reverse;
}
.service-card:last-of-type .icon {
  background-color: #F7BF33;
}
.service-card .container-image {
  border-radius: 24px;
  box-shadow: 0 2.8px 2.2px -20px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px -20px rgba(0, 0, 0, 0.048), 0 12.5px 10px -20px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px -20px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px -20px rgba(0, 0, 0, 0.086), 0 100px 80px -20px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 440px;
  height: auto;
  max-height: 550px;
}
.service-card .content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 64px;
}
.service-card .content-card .icon {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.service-card .content-card .icon svg {
  fill: #FFFFFF;
  width: 32px;
  height: 32px;
}
.service-card .content-card h3 {
  color: #000000;
  font-size: 2rem;
  font-family: "Maven Pro";
  padding-top: 24px;
  padding-bottom: 12px;
}
.service-card .content-card p {
  color: #696969;
  font-size: 1rem;
  font-family: "Roboto";
  line-height: 1.8rem;
}

@media only screen and (max-width: 1200px) {
  .service-card {
    width: 90vw;
  }
  .service-card .container-image {
    min-width: 40vw;
    max-width: 40vw;
    width: 40vw;
    max-height: 550px;
    align-self: center;
    margin-bottom: 44px;
  }
  .service-card .container-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 980px) {
  .service-card {
    width: 90vw;
  }
  .service-card .container-image {
    min-width: 40vw;
    max-width: 40vw;
    width: 40vw;
    max-height: 550px;
    align-self: center;
    margin-bottom: 44px;
  }
  .service-card .container-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .service-card {
    width: 100vw;
  }
  .service-card:first-of-type, .service-card:last-of-type {
    flex-direction: column;
  }
  .service-card:last-of-type {
    margin-top: 64px;
  }
  .service-card .container-image {
    max-width: 100%;
    width: 90%;
    max-height: 300px;
    align-self: center;
    margin-bottom: 44px;
  }
  .service-card .container-image img {
    width: 100%;
  }
  .service-card .content-card {
    padding: 0px 24px;
  }
  .service-card .content-card .icon {
    align-self: center;
  }
  .service-card .content-card h3, .service-card .content-card p {
    text-align: center;
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */