

@import 'text';

@import 'mixins';

@import 'section/services';
@import 'section/contact';
@import 'section/footer';
@import 'section/header';
@import 'section/banner';

@import 'components/buttons';
@import 'components/serviceCard';

*{
     margin:0; 
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
