/* ----------------------------- */
/* ----------------------------- */
/* -------    Colors    -------- */
/* ----------------------------- */
/* ----------------------------- */

// Generate tones based on colors
@function tones($color) {
    $tones: (
        0 : 98,
        100 : 95,
        200 : 90,
        300: 85,
        400: 80,
        500: map-get($color, l),
        600: 40,
        700: 35,
        800: 30,
        900: 25,
        1000: 10
    );
    @return $tones;
}

// Main color palette
$primary: #7457B9;
$accent: #F7BF33;
$secondary: #B7B3A2;
$accent2: #E6D3A3;
$black: #000000;
$grey: #696969;
$white: #FFFFFF;


// States color palette
$states : (
    success: (
        h: 167,
        s: 65,
        l: 50
    ),
    warning: (
        h: 40,
        s: 100,
        l: 50
    ),
    danger: (
        h: 5,
        s: 83,
        l: 50
    )
) !default;