@import '../variables';

header{
    width: 100%;
    background-color: gray;
}

.navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    .nav-content{
        justify-content: space-between;
        align-items: center;
        .nav-brand{
            display: flex;
            color: white;
            font-size: ;
            .logo{
                min-height:$logo-height-m;
            }
        }
    }
    .nav-link{
        display: flex;
        justify-content: space-around;
    }
    
}


