@import '../variables';
@import '../mixins';

.service-card {
    width: 80vw;
    display: flex;
    &:first-of-type {
        flex-direction: row;
        .icon {
            background-color: $primary;
        }
    }
    &:last-of-type {
        flex-direction: row-reverse;
        .icon {
            background-color: $accent;
        }
    }
    .container-image {
        border-radius: $br-small;
        box-shadow: $img-shadow;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        min-width: 440px;
        height: auto;
        max-height: 550px;
    }
    .content-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0px 64px;
        .icon {
            width: 64px;
            height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: $br-round;
            svg {
                fill: $white;
                width: $icon-l;
                height: $icon-l;
            }
        }
        h3 {
            color: $black;
            font-size: $title-h2-size-s;
            font-family: $title-h2-font-family;
            padding-top: 24px;
            padding-bottom: 12px;
        }
        p {
            color: $grey;
            font-size: $p-font-size;
            font-family: $title-h4-font-family;
            line-height: 1.8rem;
        }
    }
}

@include bpFactory($max: $l) {
    .service-card {
        width: 90vw;
        .container-image {
            min-width: 40vw;
            max-width: 40vw;
            width: 40vw;
            max-height: 550px;
            align-self: center;
            margin-bottom: 44px;
            img {
                width: 100%;
            }
        }
    }
}

@include bpFactory($max: $m) {
    .service-card {
        width: 90vw;
        .container-image {
            min-width: 40vw;
            max-width: 40vw;
            width: 40vw;
            max-height: 550px;
            align-self: center;
            margin-bottom: 44px;
            img {
                width: 100%;
            }
        }
    }
}

@include bpFactory($max: $s) {
    .service-card {
        width: 100vw;
        &:first-of-type,&:last-of-type {
            flex-direction: column;
        }
        &:last-of-type {
            margin-top: 64px;
        }
        .container-image {
            max-width: 100%;
            width: 90%;
            max-height: 300px;
            align-self: center;
            margin-bottom: 44px;
            img {
                width: 100%;
            }
        }
        .content-card {
            padding: 0px 24px;
            .icon {
                align-self: center;
            }
            h3,p {
                text-align: center;
                width: 100%;
            }
        }
    }
}